@font-face {
    font-family: "PlayfairDisplay Regular";
    src: url('../fonts/Playfair/PlayfairDisplay-Regular.ttf');
}

/* Inter */
@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter/Inter-VariableFont_slnt,wght.ttf');
}
